In [30]:
import itertools

In [3]:
# Exemplo 1 - Range
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
# Exemplo 2 - Iterar lista
frutas = ["Maça", "Banana", "Laranja"]
for fruta in frutas:
  print(fruta)

Maça
Banana
Laranja

In [18]:
# Exemplo 3 - Iterar Dicionário
pessoa = {
  "nome": "Caique",
  "idade": 30,
  "id": "MA"
}

for chave in pessoa.keys():
  print(pessoa[chave])

Caique
30
MA

In [22]:
# Exemplo 4 - Enumerate()
for indice, fruta in enumerate(frutas):
  print(indice, fruta)

0 Maça
1 Banana
2 Laranja

In [24]:
# Exemplo 5 - Zip()
nomes = ["Caique", "Thomas", "Igor"]
idades = [30, 22, 18]

for nome, idade in zip(nomes, idades):
  print(nome, idade)

Caique 30
Thomas 22
Igor 18

In [31]:
# Exemplo 6 - Itertools
for i in itertools.count(start=10, step=2):
  if i > 20:
    break
  print(i)

10
12
14
16
18
20